@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
body {
    margin: 0;
    overflow-x: hidden;
}


.header {
    background-color: #809FF9;
}


.container {
    margin: 0px 45px;
    height: 130px;
}

.container2 {
    margin: 0px 45px;
    height: 130px;
}



.header-line {
    /*display: flex;*/
    position: absolute;
    left: 50px;
}


.logo {
    /*text-align: center;
    top: 1%;*/
    position: relative;
    left: 10px;
    top: 5px;
}


.nav-item {
    /*display: flex;*/
    font-size: 26px;
    font-weight: 500;
    position: relative;
    left: 100px;
    top: 20px;
}


.project_name { 
    color: black;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
}


.nav-item {
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Montserrat', sans-serif;
}


.nav:hover, .autorization:hover, .nav-item:hover, .foot:hover {
    color: white;
}

.header-down {
    height: 1000px;
    background-size: 100%;    
    width: 100%;
    background-image: url(../pictures/bg_2.png);
    position: relative;
    top: -25px;
}


.elements {
    position: relative;
    top: 40px;
    left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.diagrams {
    width: 800px;
	margin: auto;
	padding: 16px 32px;
    /*position: absolute;
    left: 800px;
    top: 10px;*/
    position: relative;
    left: 300px;
    top: 60px;
}
#chart1 {
    margin-bottom: 20px;
}

#res_value {
    position: absolute;
    margin-top: 40px;
    left: 20px;
    top: 120px;
}


#project_name {
    text-align: center;
}


.footer {
    background-color: #809FF9;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 1100px;
}
.footer2 {
    background-color: #809FF9;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 1100px;
}

.foot {
    width: 100%;
    margin-left: 50px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;

}


.down-line {
    /*display: flex;*/
    position: relative;
    left: 0px;
    top: 20px;
}


#email {
    position: absolute;
}


#contact {
    position: absolute;
    left: 390px;
}
#source {
    position: absolute;
    left: 650px;
}

.form1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    /*width: 100%;*/
    background-image: url(f.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    top: 90px;
}

.analyze{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}